<footer >
  <div class="container-fluid bg-dark text-white py-4 mb-0">
    <div class="col-md-11 mx-auto ">
      <div class="d-flex align-item-center justify-content-between">
        <p class="fw-light"> <small>
            Built by <span class="textMain"> A.L.F.R.E.D</span> &copy;2024
          </small>
        </p>
        <span class="fs-5">
          <i class="fab fa-linux me-2"></i>
          <i class="fab fa-linkedin me-2"></i>
          <i class="fab fa-github me-2"></i>
          <i class="fab fa-instagram me-2"></i>
        </span>
      </div>
      <hr class=" mt-0">
    </div>
    <div class="col-12">
    </div>
    <p class="text-center">
      <small class="fw-lighter" style="font-size: 10px;"> Made with <i class=" ms-2 fab fa-angular"></i> (Angular
        14)</small>
    </p>
  </div>
</footer>
