<div class="container">
  <h4 class="text-center textMain my-5 display-5  pt-5 fw-bolder">About Alfred </h4>
  <div class="row">
    <div class=" col-8 my-4 text-center mx-auto">
      <img src="assets/img/23.JPEG" class="rounded  rounded-3 " height="200px" alt="...">
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 mx-auto">
      <h2 class="fw-bolder">Hello, </h2>
      <h5 class="fw-light mb-4 " style="text-align: justify;">
        My name is Jude Asiedu (A.L.F.R.E.D). I am co-founder of a startup (Bustop) and and innovator recognized by my
        peers and
        mentors like <a href="https://isaacsesi.com/" style="text-decoration: none;" class="text-info" target="_blank"
          rel="noopener noreferrer"> Isaac Sesi</a> and Jerome Sowah

      </h5>
      <h5 class="fw-light mt-4 mb-5 "  style="text-align: justify;">
        I design and devlop seamless web portals and websites using world approved stacks to deliver timeless projects.

      </h5>
      <h5 class="fw-light mt-4 mb-5 "  style="text-align: justify;">
        I especially enjoy working collabratively and well structured prodcut teams. This enables individuals explore and
        devlop seamless web portals and websites using world approved stacks to deliver timeless projects.

      </h5>

      <!-- EARLY LIFE -->

      <h2 class="fw-bolder mt-5">Early Life, </h2>
      <h5 class=" fw-lighter  mt-2 mb-3" style="text-align: justify;">
        My journey in tech began with a simple fascination: making things work and fixing what doesn’t.
        Over the years, this love for problem-solving has blossomed into a full-blown affection for debugging.

      </h5>

      <!-- END OF EARLY -->



      <!-- HUSTLE MIND -->
      <h2 class="fw-bolder mt-5">
        Pursuing the Work, Driven by Hope
      </h2>
      <h5 class="fw-lighter my-3">
        I wouldn't have it any other way, even though tech life can be hectic.
        I'm pursuing my goals, seizing every chance to improve, and picking up knowledge from every setback.
      </h5>


      <h5 class="fw-lighter mt-5">
        I take pleasure in my grit and adaptability, which are essential for staying ahead in the fast-paced tech sector.

        Above all, though, hope is what keeps me going—hope for breakthroughs, hope for a better tomorrow, and hope
        that the work I do today will have a good impact.
      </h5>

      <!-- END OF HUSTLE MIND -->

      <!-- PROFESSION -->
      <!-- <h2 class="fw-bolder mt-5">
        Professional Life
      </h2>

      <h5 class="fw-lighter mt-3">
        I currently work in Accra with one of the top fintech companies in Africa. I love to
        curating playlists, or simply losing myself in melodies, music offers me a creative outlet that complements my
        technical side
      </h5> -->

      <!-- END OF PROESSION -->

      <!-- PERSONAL -->
      <h2 class="fw-bolder mt-5">Personal Life </h2>
      <h5 class="fw-lighter mt-3">
        I currently work in Accra with one of the top fintech companies in Africa. I love to
        curating playlists, or simply losing myself in melodies, music offers me a creative outlet that complements my
        technical side
      </h5>
      <!-- END OF PERSoNAL -->


      <h2 class="fw-bolder mt-5">Reach out </h2>
      <h5 class="fw-lighter mt-3">
       Feel to reach out or simply leave a message down below and i will respond as swiftly as i can. Can't wait to work on some exciting project with you!.

       <br>
       <br>
       <br>
       <br>
       In the meantime check out my blog posts <span class="text-muted"> (coming soon)</span>
       and leave a comment .

      </h5>

    </div>
  </div>


  <div class="container-fluid">
    <hr class="text-danger my-4">
      <!-- <form >
      <div class="col-6 mx-auto">
        <div class="form-group row mx-auto">
          <div class="form-group col-6 my-3">
            <input type="email"  placeholder="Enter email address"  class="form-control  ">
        </div>
        <div class="form-group col-6 my-3">
            <input type="text" maxlength="13" placeholder="Phone Number" minlength="9" class="form-control  " >
        </div>
        <div class="form-group col-12 mt-4">
            <textarea rows="4"    class="form-control  border-1" placeholder="Leave a message" ></textarea>
        </div>
        </div>
      </div>
      </form> -->
      <div class=" text-center">
        <button class="btn btn-outline-dark rounded-0   my-4   px-3 py-2  fw-light " (click)="sendForm()">Send Message</button>
    </div>

  </div>
</div>

<ng-template #sendMessage>

</ng-template>
