<div class="topClass">
  <!-- Hero Section -->
    <div class="containex row  d-flex  flex-column justify-content-center align-items-center   bg-tertiary "
      *ngIf="bio$ | async as bio">
      <div class="d-flex flex-column  justify-content-center align-items-center ">
        <div *ngFor="let options of respOptions" [ngClass]="options.viewClasses"
          class="flex-column justify-content-center align-items-center w-75">
          <h1 [ngClass]="options.headingClass"
          class="text-center display-1">Hello, 👋 <br> <span
              class="fw-bold textMain mt-4 pt-4">{{bio.firstName+' '+bio.lastName}}</span></h1>
          <h6 class="fw-light fs-6"> Full Stack Developer | Jovial JS Polyglot</h6>
          <button class="mt-3 my-5 btn btn-dark rounded-0 px-5 py-3" routerLink="/blog">
            See My Works <i class="ml-1 fas fa-angle-right"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- End Of Hero Section -->
    <!-- Skills Section -->
    <div class="major bg-second">
      <div class="row  mb-5 px-5">
        <h4 class="text-center textMain my-5 display-5 fw-bolder">Skills </h4>
        <div class="col-md-6 my-2 ">
          <div class="card  skillCard  rounded-2 mx-4 text-white shadow">
            <div class="card-body">
              <h6 class="fw-bold text-center mb-3">Web Development</h6>
              <p class="fs-7 fw-light mt-4">
                <small>
                  Building websites with 1.2 years of experience. Skilled in Next.js, React, Node.js, HTML, CSS, Material
                  UI, Tailwind CSS
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 my-2">
          <div class="card skillCard  rounded-2 mx-4 text-white shadow">
            <div class="card-body">
              <h6 class="fw-bold text-center mb-3">Mobile Development</h6>
              <p class="fs-6 fw-light mt-4">
                <small>
                  Building mobile applications with 4 months of experience. Skilled in Ionic, Xamarin, C#, HTML, CSS,
                  Flutter, Tailwind CSS
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 my-2">
          <div class="card skillCard  rounded-2 mx-4 text-white shadow">
            <div class="card-body">
              <h6 class="fw-bold text-center mb-3">UX/UI Development</h6>
              <p class="fs-6 fw-light mt-4">
                <small>
                   My passion lies in crafting user-friendly designs that seamlessly blend aesthetics with functionality with expertise in frameworks such as Ionic, Xamarin, and Flutter, along with a strong foundation in C#, HTML, and CSS.
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End  Skills Section -->
    <!-- Professional Experts Section -->
    <div class="professional  bg-second">
      <div class="row mb-5 mx-4 pt-5 ">
        <h4 class="text-center textMain my-5 display-5  pt-5 fw-bolder">Professional Experience </h4>
        <div class="col-md-9 mx-auto my-3">
          <div class="card bg-second card-hover shadow-0 border-0  rounded-2 mx-4 text-white ">
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-4 fw-lighter text-secondary fs-7">
                <p class="mb-0 fs-7">  OCTOBER 2022  - PRESENT </p>
                <p><small class="fs-7" > FULL TIME </small></p>
                </div>
                <div class="col-md-8">
                  <h5 class="fw-normal mb-1">Front-End Development</h5>
                  <a href="https://itconsortiumgh.com" class="textMain  mt-0 cursor-pointer fw-light" target="_blank" style="text-decoration: none;font-size:12px;"> IT Consortium</a>

                  <div class=" d-flex mt-2">
                    <span class="badge me-1 rounded-1 p-2 border border-danger badge-info">HTML</span>
                    <span class="badge me-1 rounded-1 p-2 border border-info badge-dark">Typescript</span>
                    <span class="badge me-1 rounded-1 p-2 border border-warning badge-danger">PHP</span>
                    <span class="badge me-1 rounded-1 p-2 border border-success badge-success">Laravel</span>
                  </div>
                  <p class="fs-6 fw-lighter mt-4">
                    <small class="fs-6" >
                      Built mobile applications with 4 months of experience. Skilled in Ionic, Xamarin, C#, HTML, CSS,
                      Flutter, Tailwind CSS
                    </small>
                  </p>
                  <p class="fs-6 fw-lighter mt-4">
                    <small class="fs-6" >
                      Built mobile applications with 8 months of experience. Skilled in Ionic, Xamarin, C#, HTML, CSS,
                      Flutter, Tailwind CSS
                    </small>
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-9 mx-auto mt-3">
          <div class="card bg-second card-hover shadow-0 border-0 rounded-2 mx-4 text-white ">
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-4 fw-lighter text-secondary fs-7">
                <p class="mb-0 fs-7">  JULY 2021  - SEPTEMBER 2021 </p>
                <p><small class="fs-7" > INTERNSHIP </small></p>
                </div>
                <div class="col-md-8">
                  <h5 class="fw-normal mb-1">IT Support </h5>
                  <a href="https://gh.linkedin.com/company/anglogold-ashanti-ghana-malaria-control" class="text-success  mt-0 cursor-pointer fw-light" target="_blank" style="text-decoration: none;font-size:12px;"> AGA Malaria Control</a>

                  <div class=" d-flex mt-2">
                    <span class="badge me-1 rounded-1 p-2 border border-danger badge-info">Work Management</span>
                    <span class="badge me-1 rounded-1 p-2 border border-info badge-dark">Data Entry</span>
                  </div>
                  <p class="fs-6 fw-lighter mt-4">
                    <small class="fs-6" >
                      Built mobile applications with 4 months of experience. Skilled in Ionic, Xamarin, C#, HTML, CSS,
                      Flutter, Tailwind CSS
                    </small>
                  </p>
                  <p class="fs-6 fw-lighter mt-4">
                    <small class="fs-6" >
                      Built mobile applications with 8 months of experience. Skilled in Ionic, Xamarin, C#, HTML, CSS,
                      Flutter, Tailwind CSS
                    </small>
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End of Proff Expert Section -->

    <!-- Projects Section -->
    <div class="major">
      <div class="container">
      <app-projects></app-projects>
    </div>
    </div>
    <!-- End of projects Section -->
    <!-- About Me Section -->

    <div class="major bg-second  text-white" #about>
      <h4 class="text-center textMain pt-5 display-6 fw-bolder">About Me </h4>
        <div class="row mt-5 ">
          <div class="col-md-7 col-sm-12 mt-5 pt-3" *ngIf="bio$ | async as bio">
            <div *ngFor="let par of bio.about">
              <p class="text-md-end text-center ps-md-5 p-4  fs-6">{{par}}</p>
            </div>
            <img class="d-none d-md-block float-end text-end ms-auto " src="assets/img/arrow.png" alt="" style="transform: rotate(210deg) scaleX(-1) ;">

          </div>
          <div class="col-md-5 col-sm-12">
            <img src="assets/img/profilelogo.jpg"  class="logso float-start rounded  shadow-lg" height="460" alt="logss">

          </div>

        </div>
    </div>
    <!-- End of About Me Section -->
    <!-- Conact Us Section -->

    <div class="containex">
      <div class="row my-5 px-5 pt-5 d-flex align-items-center">
        <h4 class="text-center  display-5 mt-5 pt-5 fw-bolder">Contact  Me </h4>
        <div class=" col-lg-8 col-md-11 col-sm-12  mx-md-auto mt-0 pt-0">
            <p class="text-center  fs-6 mt-5">
              If you like my work or want to hire me, please feel free to shoot me an email on
              <b> jude.asiedu99@gmail.com</b> by pressing the button below.
            </p>
            <div class="text-center my-3" >
              <a  type="button" href="" target="_top"
              class="btn btn-dark rounded-0 mx-auto text-center px-5 py-2 fs-6 fw-bold"
               (click)="openMail()">
                <small>Send me an email </small>
                <i class="fas fa-mail-bulk ms-2"></i>
                </a>
              </div>
            <p class="mt-2 text-center fs-6">
              or contact me through
              <a href="https://linkln.com"  target="_blank" class="mx-1 text-dark">
                LinkedIn
                <i class="fab fa-linkedin text-info ms-1"></i>

              </a>
              or
              <a href="https://instagram"  target="_blank" class="mx-1 text-dark">
                Instagram
                <i class="fab  fa-instagram ms-1 text-danger"></i>

              </a>
            </p>
        </div>
    </div>
    </div>
    <!-- End of contact Section -->
</div>
