.min-vh-95 {
    height: 95vh;
}

.topClass{
  height: 100vh;
  scroll-snap-type: y;
  scroll-behavior:smooth;
  overflow-y:auto;
  overflow-x:hidden;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    display:none;
  }
}
.containex{
  height: 90vh;
  scroll-snap-align:start;
}
.major{
  height: 100vh;
  scroll-snap-align:none;
}

.skillCard{
  background-color: #333159a8;
  padding: 10px;
}
.professional{
  min-height: 100vh;
  scroll-snap-align:center;

}


.textMain
{
 color: #bae8e8;
}
