.min-vh-95 {
    height: 95vh;
}

.topClass{
  /* height: 100vh; */
  scroll-snap-type: y;
  scroll-behavior:smooth;
  overflow-y:auto;
  overflow-x:hidden;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    display:none;
  }
}
.containex{
  height: 95vh;
  scroll-snap-align:none;
}
.major{
  height: 100vh;
  scroll-snap-align:none;
}

.skillCard{
  background-color: #333159a8;
  padding: 10px;
}
.professional{
  min-height: 100vh;
  scroll-snap-align:center;

}


.textMain
{
 color: #bae8e8;
}

.logso:hover{
  /* transform: scaleX(-1); */
  cursor: pointer;
  transform: scale(1.04) rotate(1deg);
  /* transition: all 1.5s cubic-bezier(0.43, 1, 0.320, 1); */
  /* transform: rotateY(10deg) rotateX(10deg) scale(1.05); */
}
